.cards_container {
    display: grid;
    grid-template-rows: auto;
    margin: 10px auto;
    grid-template-columns: 340px;
    box-spacing: 20px;
    width: fit-content;
}
@media screen and (min-width: 800px) {
    .cards_container {
        grid-template-columns: 340px 340px;
    }
}
@media screen and (min-width: 1200px) {
    .cards_container {
        grid-template-columns: 340px 340px 340px;
    }
}
@media screen and (min-width: 1400px) {
    .cards_container {
        grid-template-columns: 340px 340px 340px 340px;
    }
}
@media screen and (min-width: 2000px) {
    .cards_container {
        grid-template-columns: 340px 340px 340px 340px 340px;
    }
}
@media screen and (min-width: 2400px) {
    .cards_container {
        grid-template-columns: 340px 340px 340px 340px 340px 340px;
    }
}
@media screen and (min-width: 2800px) {
    .cards_container {
        grid-template-columns: 340px 340px 340px 340px 340px 340px 340px;
    }
}
@media screen and (min-width: 3200px) {
    .cards_container {
        grid-template-columns: 340px 340px 340px 340px 340px 340px 340px 340px;
    }
}
@media screen and (min-width: 3800px) {
    .cards_container {
        grid-template-columns: 340px 340px 340px 340px 340px 340px 340px 340px 340px;
    }
}
@media screen and (min-width: 4200px) {
    .cards_container {
        grid-template-columns: 340px 340px 340px 340px 340px 340px 340px 340px 340px 340px;
    }
}
.body_container {
    display: block;
}
.desktop .search_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.search_container {
    background-color: rgba(0,0,0,0.6);
}
.model_card {
    position: relative;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
    font-size: 3em;
}
.description {
    transition: height ease-in-out .3s;
    overflow: hidden;
    width: 340px;
    height: 0px;
    pointer-events: none;
    position: absolute;
    background-color: #000;
    font-size: 12pt;
    z-index:10;
    left: 0px;
}
.description .text {
    padding: 10px;
    width: 320px;
    height: 480px;
    overflow: hidden;
}
div:hover > .description {
    height: 480px;
}
.preview {
    width:320px;
    height:480px;
    overflow: hidden;
    float: left;
}
.preview_container {
    width:320px;
    height:480px;
    position: relative;
}
.preview_container img,
.preview_container video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.title {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    font-size: 20pt;
    width: 100%;
    z-index: 2;
}
.ux {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    text-shadow: 2px 2px 6px #000;
    z-index: 11;
    padding: 5px;
}
.model_meta {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    text-shadow: 2px 2px 6px #000;
    font-weight: bold;
    font-size: 16pt;
    background: rgba(0,0,0,0.6);
    z-index: 8;
    padding: 5px;
    vertical-align: top;
}
.model_base {
    font-family: monospace;
    font-size: 50%;
    vertical-align: super;
    line-height: normal;
}
html {
    background-color: #0b0f19;
    color: #fff;
}
body {
    font-family: sans-serif;
    text-align: center;
}
body.desktop {
    padding-top: 3.6em;
}
a {
    color: #ddd;
    font-weight: bold;
    text-decoration: none;
}
.ux a {
    display: block;
    float: right;
    font-size: 18pt;
    height: 1.5em;
    width: 1.5em;
}
span.button {
    cursor: pointer;
    display: inline-block;
    background-color: #111;
    border-radius: 3px;
    border: #4568E6 solid 1px;
    padding: 1px 4px;
    margin: 1px 3px;
    color: #000;
    background-color: #99aaff;
    opacity: 0.75;
}
input:checked + span.button {
    background-color: #3457D5;
    color: #fff;
    font-weight: bold;
    opacity: 1;
}
label.checkbox input[type=checkbox] {
    display: none;
}
